<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecipeName</key>
	<array>
		<string>Pasta</string>
		<string>Pizza</string>
		<string>Garlic Toasts</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>Lion.jpg</string>
		<string>MoutainLion.jpg</string>
		<string>snow_leopard.png</string>
	</array>
	<key>PrepTime</key>
	<array>
		<string>50 min</string>
		<string>60 min</string>
		<string>30 min</string>
	</array>
</dict>
</plist>
